[Unit]
Description=Run the phanspeed healthcheck periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=20s

[Install]
WantedBy=timers.target
